<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appearance</key>
	<string>Light</string>
	<key>BRANDPAY_REDIRECT_URL</key>
	<string>https://tosspayments.com/redirect</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tosspaymentExample</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
        <string>kftc-bankpay</string>
        <string>ispmobile</string>
        <string>hdcardappcardansimclick</string>
        <string>shinhan-sr-ansimclick</string>
        <string>kb-acp</string>
        <string>kbbank</string>
        <string>mpocket.online.ansimclick</string>
        <string>lottesmartpay</string>
        <string>lotteappcard</string>
        <string>cloudpay</string>
        <string>citimobileapp</string>
        <string>payco</string>
        <string>kakaotalk</string>
        <string>lpayapp</string>
        <string>wooripay</string>
        <string>nhallonepayansimclick</string>
        <string>hanawalletmembers</string>
        <string>shinsegaeeasypayment</string>
        <string>chaipayment</string>
        <string>kb-auth</string>
        <string>hyundaicardappcardid</string>
        <string>lmslpay</string>
        <string>com.wooricard.wcard</string>
        <string>lguthepay-xpay</string>
        <string>liivbank</string>
        <string>supertoss</string>
        <string>newsmartpib</string>
        <string>naversearchthirdlogin</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
